@page
@model DiscoverModel
@{
    ViewData["Title"] = "Discover";
}
<script src="~/js/autocomplete.js"></script>

      <h3>Disover movies</h3>
      <p>Select 5 movies</p>

      <p><form method="post">
          <div class="form-group">
              <div class="ui-widget">
              <label asp-for="theinput.Name"></label>
              <input id="search-field" class="form-control" asp-for="theinput.Name" />
              </div>
              @*<label asp-for="theinput.IsMovie"></label>
              <input id="Checkbox1" type="checkbox" asp-for="theinput.IsMovie"/>*@

@*              <span asp-validation-for="theinput.Name" class="text-danger"></span> 
*@          </div>
          <button type="submit" id="search-button" class="btn btn-primary">Search</button>
                      
     </form></p>

      <div class="row">
        <div class="col-xl-2 col-sm-6 col-md-4">Movie 1</div>
        <div class="col-xl-2 col-sm-6 col-md-4">Movie 2</div>
        <div class="col-xl-2 col-sm-6 col-md-4">Movie 3</div>
        <div class="col-xl-2 col-sm-6 col-md-4">Movie 4</div>
        <div class="col-xl-2 col-sm-6 col-md-4">Movie 5</div>
      </div>
