@page "/discover/{movieParam1:int?}/{movieParam2:int?}/{movieParam3:int?}/{movieParam4:int?}/{movieParam5:int?}/"
@model DiscoverModel
@{
    ViewData["Title"] = "Discover";
}
<script src="~/js/autocomplete.js"></script>

<h3>Disover movies</h3>
@if (Model.displayAddMoveForm)
{

    <p>Select 5 movies</p>
    <div>
        <p>
            <form method="post">
                <div class="form-group">
                    <div class="ui-widget">
                        <label asp-for="theinput.Name"></label>
                        <input id="search-field" class="form-control" asp-for="theinput.Name" />
                    </div>

                    @*              <span asp-validation-for="theinput.Name" class="text-danger"></span>
                    *@
                </div>
                <button type="submit" id="search-button" class="btn btn-primary">Add Movie</button>

            </form>
        </p>
    </div>
}

<h3>Selected movies</h3>
<div class="row">
    @foreach (Movie movie in Model.MovieList)
    {
        <div class="col-xl-2 col-sm-6 col-md-4">
            @movie._title : @movie.movieId<br />
            <img src=@("https://www.themoviedb.org/t/p/w220_and_h330_face" + @movie._posterUrl) height="237" width="165">

        </div>
    }
      </div>
      
@if (Model.MovieList.Count > 1)
{

}
