@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

      <h3>Heading</h3>
      <p>Search Params input</p>

      <div class="row">

    @foreach(Movie movie in Model.MovieList)
    {
        <div class="col-xl-2 col-sm-6 col-md-4">
            @movie._title <br />
            <img src=@("https://www.themoviedb.org/t/p/w220_and_h330_face" + @movie._posterUrl) height="237" width="165">
            
        </div>
    }
      </div>
